* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

}

body {
    background-color: #09090A;

    height: 100vh;

    font-size: 1.6rem;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* padding-top: 9.9rem;
    padding-inline: 12rem; */
    padding: 9.9rem 12rem 4.8rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    
    background-color: transparent;
    
    padding: 1.6rem 2.4rem;

    border: 1px solid #8B5CF6;
    border-radius: .8rem;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    color: white;
}

form {
    display: flex;

    padding-inline: 12rem;
}

.habits {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 6rem;
}

.habit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 6.4rem;
    height: 6.4rem;
    
    border: 1px solid greenyellow;

    font-size: 3.2rem;
}

.days {
    display: flex;
    margin-left: 3.2rem;
    gap: 4.8rem;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.day div {
    margin-bottom: .8rem;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 2rem;
    line-height: 125%;
    color: #A1A1AA;
}

input {
    appearance: none;
    -webkit-appearence: none;

    width: 6.4rem;
    height: 6.4rem;

    background-color: #18181B;

    /* border: 2px solid #27272A; */
    border: 1px solid greenyellow;
    border-radius: .8rem;
}

input:checked {
    background-color: #8B5CF6;
    border: 2px solid  #A78BFA;
}